@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.intro{
    background-color: black;
    color: white;
    height: 300px;
    width: 100%; 
}

.intro h1{
   padding-top: 30px ;
   text-align: center;
   font-size: 40px;
}

.intro p{
    display: center;
    margin-left: 30px;
    font-weight: bold;
    margin: 30px;
}

.strt{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-align: center;
    height: 40px;
    width: 150px;
    margin: 40px;
}

.strt:hover{
    background-color: grey;
    color: black;
}

.offers{
    height: 80px;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    columns: 100px 4;
    margin: 10px auto;

}

.offers ul{
   margin-left: 50%;
}

.ratings{
    color: white;
    background-color: black;
    width: 94.555%;
    height: 100px;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    columns: 100px 4;
    margin: 10px auto;
    text-align: center; 
}


.AL {
    height: 20px;
    row-gap: 8px;
    column-gap: 16px;
}



.course{
    padding: 30px 30px;
}

.footer{
    color: white;
    background-color: black;
    padding: 20px 20px;
}

.exp{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-align: center;
    height: 40px;
    width: 200px;
}

.exp:hover{
    background-color: grey;
    color: black;
}

.footer{
    margin: auto;
    padding: 30px;
}

.footer h3{
    font-size: 30px;
}